@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);

* { margin:0; padding:0; box-sizing:border-box; }
.wrapper{
    /*! background-color: #FFFFFF; */
}

body {
    font-size:16px;
    font-family: 'Source Sans Pro', sans-serif;
}


header{
    height: 100px;
}

header img { 
    width:15em;
    padding: 20px;
    margin-left:40px;
}
nav{
    background-color: #FFFFFF;
    border: 1px;
    padding: 20px;
    margin:20px 0;
}

nav a{
    font-size: 1.3em;
    text-decoration: none;
    display: inline;
    color: black;
    font-variant: unset;
    font-style: italic;

}

nav a:hover {
    text-decoration: underline;
    color:#598aa1;
}

#top-nav {
    float: right;
    padding: 1em;
    height: 60px;
    display:block-inline;
    margin: 20px;
}

#main-nav  {
    text-align:center;
    margin:10px;
    font-size: 1.2em;
    font-weight: 300px;
    display:inline-block;

}


h1{
    font-size: 4em;
    background-color: rgba(2,77,124,0.7);
    color: white;
    font-weight: normal;
    display: inline-block;
    padding: 1em;
}   

h2{ 
    font-family: 'source-sans', arial,sans-serif;
    font-weight: normal;

}
p {font-size:1.3em;

}


#secondhalf{
    width:500px; 
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin: auto;

}

#left{ 
    padding: 20px;
    float:left;
    margin-right: 20px;
    width:45%;
}

#right{
    padding: 10px;
    margin-right: 10px;
    float:right; 
    width:50%;
}

#two-column {
    background-color: #66b7cb;
    padding: 20px;

}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#splash{
    background-image: url(../images/Hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 80vh; */
    padding: 20em 0;
    text-align: center;
}

#offering {
    background-color: rgb(180,191,82);
    padding: 20px;

}

#profession {

     background-color: rgb(180,191,82);
     /* border: 1px black solid; */
     padding: 20px;
     float:right;
     /* margin-right: 20px; */
     width: 50%;

    background-color: rgb(180,191,82);
    background-size: 2em;
    padding: 20px;
    float:right;
    width:50%;


}

#leader{
    background-color: rgb(180,191,82);
    /* border: 1px black solid; */
    padding: 20px;
    float:left;
    /* margin-right: 20px; */
    width: 50%;
    /* margin: 1%; */
    padding-top: 59.5px;
}  

footer{
    background-color: #024D7C;
    padding: 30px;
    font-size: 1em;
    color: white;
}

@media only screen and (max-width: 1100px) {
    
        header {
        height: auto;
    }
    header img { 
        width:15em;
        padding: 10px;
        margin-left:40px;
        float: center;
    }
    
    h1  {
        font-size: 2.5em;
        display: inline-block;
        padding: .5em;
        text-align:center;
    }
    
    #main-nav  {
        text-align:center;
        margin:10px;
        font-size: 1em;
        font-weight: 300px;
}
@media only screen and (max-width: 800px){

        header {
        height: auto;
        text-align: center;

    }

    #top-nav { 
        float: none;
        margin-left: 30px;
        display: block;
        text-align: center;
        padding-top: 0;
        margin-top: 0;

    }
    nav a{
        display:block;
    }
    
    #splash{
        padding: 10em;
        text-align:center;
            }
    
    #left {
        float:left;
        margin-right: 200px;
        width:100%;
    
    }
    
    #right {
        float:right; 
        width:100%;
        margin-left: 40px;
    }
    
    #profession {
        float:left;
        width:100%;
        margin: 0;
    
    }
    
    #secondhalf{
        width:60%;
    }

    #leader {
        float:left; 
        width:100%;
    
    }
    header img {
        padding-top: .8em;
        float: center;
    
    }
    
    h1{
        font-size: 1.5em;
        display: inline-block;
    
    }
    #left {
        float:left;
        margin-right: 200px;
        width:80%;
    }
}
@media only screen and (max-width: 379px){


    h1  {
        font-size: 1.5em;
        text-align:center;
        width:100%;
    }

    p{
        text-align: left;
        font-size: 1em;
        width: 100%;
    }

    h2 {
        text-align: left;
    }
    header {
        height: 200px;
        text-align: center;

    }
    #splash{
        width:100%;
        padding: 80px;
    }
    #secondhalf{
        width:60%;
    }

    #main-nav {
        padding: 0;

    }
    #right {
        padding-left: 2em;

    }


    #top-nav{
    padding: 0em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    width: 80%;
}

.top-nav{
    position: relative;
    display: inline-block;
        
    }
    
    nav a {
    display: inline-block;  
    }
}
