@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);

* { margin:0; padding:0; box-sizing:border-box; }
.wrapper{
    background-color: #FFFFFF;
}

body {
    font-size:16px;
    font-family: 'Source Sans Pro', sans-serif;
}


header{
    height: 100px;
}

header img { 
    width:15em;
    padding: 20px;
    margin-left:40px;

}
nav{
    background-color: #FFFFFF;
    border: 1px;
    padding: 20px;
    margin:20px 0;

/*     height:200px; */
}

nav a{
    padding: .5em;
    color: black;
    display: inline;
    font-size: 1.3em;
    text-decoration: none;
    font-variant: unset;

}

nav a:hover {
    text-decoration: underline;
    color:#598aa1;
}

#top-nav {
    float: right;

    /* height: 3em; */
    padding: 1em;
    /*     background:red;  */
    margin-right:1em;
    /* width: 500px; */

    padding: 1em;
    /*     background:red;  */
    margin-right:1em;

}

#main-nav  {
    text-align:center;
    margin:10px;
    font-size: 1.2em;
    font-weight: 300px;

}


h1{
    font-size: 4em;
    background-color: rgba(2,77,124,0.7);
    color: white;
    font-weight: normal;
    display: inline-block;
    padding: .5em;
}   

h2{ 
    font-family: 'source-sans', arial,sans-serif;
    font-weight: normal;

}
p {
    font-size:1.3em;

}

#secondhalf{
    background-color: #FFFFFF;
    padding: 20px;
}

#left{ 
    padding: 20px;
    float:left;
    margin-right: 20px;
    width:45%;
}

#right{
    padding: 10px;
    margin-right: 10px;
    float:right; 
    width:50%;
}

#two-column {
    background-color: #66b7cb;
    padding: 20px;

}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#splash{
    background-image: url(../images/Hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 80vh; */
    padding: 20em 0;
    text-align: center;
}

#offering {
    background-color: black;
    padding: 20px;

}

#profession {

     background-color: #FFE2B8;
     /* border: 1px black solid; */
     padding: 20px;
     float:right;
     /* margin-right: 20px; */
     width: 50%;

    background-color: green;
    background-size: 2em;
    padding: 20px;
    float:right;
    width:50%;


}

#leader{
    background-color: #E582A2;
    /* border: 1px black solid; */
    padding: 20px;
    float:left;
    /* margin-right: 20px; */
    width: 50%;
    /* margin: 1%; */
    padding: 20px;
    float:left;
    width:50%;

}

footer{
    background-color: #024D7C;
    padding: 30px;
    font-size: 1em;
    color: white;
}

@media only screen and (max-width: 1100px) {
    header img { 
        width:15em;
        padding: 10px;
        margin-left:40px;
        float: center;
    }
    h1  {
        font-size: 2.5em;
        display: inline-block;
        padding: .5em;
        text-align:center;
    
    }
    
    #main-nav  {
        text-align:center;
        margin:10px;
        font-size: 1.2em;
        font-weight: 300px;
    }
}
@media only screen and (max-width: 800px){

    #top-nav { 
        float: none;
        width: 100px;
        margin-left: 10px;
    }
    
    #splash{
        padding: 10em;
        text-align:center;
    }
    
    #left {
        float:left;
        margin-right: 200px;
        width:100%;
    
    }
    
    #right {
        float:right; 
        width:100%;
        margin-left: 40px;
    }
    
    #profession {
        float:left;
        width:100%;
        margin: 0;
    
    }
    
    #leader {
        float:left; 
        width:100%;
    
    }
    header img {
        padding-top: .8em;
        float: center;
    
    }
    
    h1{
        font-size: 1.5em;
        display: inline-block;
        padding-top: 0;
    
    }
    #left {
        float:left;
        margin-right: 200px;
        width:80%;
    }
}
@media only screen and (max-width: 300px){
    h1  {
        width: 100%;
        font-size: 1em;
        display: inline-block;
        padding: .5em;
        padding: 0;
        text-align:center;
    }
}
