
* { margin:0; padding:0; box-sizing:border-box; }
body {
    font-size:16px;
    font-family: 'Source Sans Pro', sans-serif;
}

header img { 
    width:10em;
}
nav{
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    margin:20px 0;
/*     height:100px; */
}

nav a{
    margin:.5em;
    padding:.5em;
/*     border:1px solid #000; */
}
h1{
    font-style:;
    background-color:#FFED74;
}
h2{ 
    font-family: helvetica,arial,sans-serif;

}
#whoweare{
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
    margin:20px;

}

#whowereach{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    margin:20px;
}

#splash{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

}

#landing-area{
    background-color:#ddd;
    height:500px;
    position:relative;
}
#top-nav{
/*     background:red;  */
    margin-left:auto;
    width:420px;
}

#main-nav{
    text-align:center;
    margin:20px;
}
